
#tv{
    /*background-image: url("img/will-smith-chris-rock.gif");*/
/*background-image: url("img/giphy.gif");*/
    background-repeat: no-repeat;
    background-size: cover;
}


#coffee-banner-image{
    width: 200px;
    height:100px ;
}

#coffee-reel{
    display: inline-block;
    border: red solid 10px;
}

a{
    text-decoration: none;
}

#background-image{
    background-image: url("img/giphy.gif");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: orange;
    /*background-image: url("img/will-smith-chris-rock.gif");*/

}

body{
    height: 100vh;
    width: 100vw;
}

